Webpack(imports/exports)
 Babel
 Scss
 Eslint
 2 Modes
  -Dev
   Dev Server, SourceMap, Eslint, Not Minified JS & CSS
  -Prod
   Minified COde
Git
  Production
    1.0.0
    0-------------
  Development
    1.0.2
    1-------------- + -- Pool Request +
    2-------------------
